a#retrySelected.button Retry Selected
&nbsp;|&nbsp;
a#removeSelected.button Remove Selected
&nbsp;|&nbsp;
a#retryAllFailed.button Retry All Failed
&nbsp;|&nbsp;
a#removeAllFailed.button Remove All Failed
